<br>
<div class="container">
  <div class="row">
    <div class="col-md-12 text-center">
      <h1>Language Detection</h1>
    </div>
  </div>

  <br><br>

  <div class="row justify-content-center">
    <div class="col-md-4">
      <label for="ld-text">Your text:</label>
      <textarea [(ngModel)]="text" class="form-control" id="ld-text" rows="6"></textarea>
    </div>
  </div>

  <br>

  <div class="row justify-content-center">
    <div class="col-md-4 text-center">
      <div class="form-check form-check-inline">
        <input [(ngModel)]="clean" class="form-check-input" type="checkbox" id="clean" value="clean">
        <label class="form-check-label" for="clean">clean</label>
      </div>
    </div>
  </div>

  <br>

  <div class="row justify-content-center">
    <div class="col-md-3 d-grid">
      <button type="button" class="btn btn-primary btn-block" (click)="submitDetection()">Submit</button>
    </div>
  </div>

</div>
