<br>
<div class="container">
  <div class="row">
    <div class="col-md-12 text-center">
      <h1>Sentiment Analysis</h1>
    </div>
  </div>

  <br><br>

  <div class="row justify-content-center">
    <div class="col-md-4">
      <label for="sa-text">Your text:</label>
      <textarea [(ngModel)]="text" class="form-control" id="sa-text" rows="6"></textarea>
    </div>
  </div>

  <br>

  <div class="row justify-content-center">
    <div class="col-md-4 text-center">
      <label id="lang-label">Language:</label>
      <div *ngFor="let lang of availableLanguages" id="radio-lang" class="form-check form-check-inline">
        <input [(ngModel)]="language" class="form-check-input" type="radio" [id]="lang.abbreviation" [value]="lang.abbreviation">
        <label class="form-check-label" [for]="lang.abbreviation">{{ lang.name }}</label>
      </div>
    </div>
  </div>

  <br>

  <div class="row justify-content-center">
    <div class="col-md-3 d-grid">
      <button type="button" class="btn btn-primary btn-block" (click)="submitAnalysis()">Submit</button>
    </div>
  </div>

  <br><br>

  <div *ngIf="analysisScore !== undefined && analysisType !== undefined" class="row justify-content-center">
    <div class="col-md-4 text-center">
      <h3 id="analysis-title">Analysis results:</h3>
    </div>
  </div>

  <div *ngIf="analysisScore !== undefined && analysisType !== undefined" class="row justify-content-center">
    <div class="col-md-2 text-center">
      <h6>Score: {{ analysisScore }}</h6>
    </div>
    <div class="col-md-2 text-center">
      <h6 [style.color]="getScoreColor(analysisScore)">Type: {{ analysisType }}</h6>
    </div>
  </div>

</div>
